.ind_pic
{
    /* Add your styling properties here */
    width: 200px; /* Example width */
    height: auto; /* Example height */
    border: 2px solid #ccc; /* Example border */
    border-radius: 8px; /* Example border radius */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Example box shadow */
    /* Add more styles as needed */
}

/* Dropdown Button */
.dropbtn
{
    background-color: #3498db;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}
  
/* Dropdown Content (Hidden by Default) */
.dropdown-content
{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the Dropdown */
.dropdown-content a
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover
{
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content
{
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn
{
    background-color: #2980b9;
}

.show 
{
    display: block;
}